<!DOCTYPE html>
<html>
	<head>
		<title>Pay Slip</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="stylesheets/style.css">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
				
	</head>
	<style type="text/css">
		body {
			padding-top: 70px;
		}

		.card {
		    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
		    transition: 0.3s;
		    margin-top: 30px;
		    width: 100%;
		}

		.card:hover {
		    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
		}

		.container {
		    padding: 2px 16px;
		}
		.none-item {
			display: none;
			text-align: center;
			margin-top: 5em;
			color: #BDBDBD;
			font-size: 50px;
		}
		.btn-file {
			position: relative;
			overflow: hidden;
		}
		.btn-file input[type=file] {
			position: absolute;
			top: 0;
			right: 0;
			font-size: 100px;
			text-align: right;
			filter: alpha(opacity=0);
			opacity: 0;
			outline: none;
			background: white;
			cursor: inherit;
			display: block;
		}
	</style>
	<body>
		<div class="container">
			<nav class="navbar navbar-default navbar-fixed-top">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mobile-nav" aria-expanded="false">
				        <span class="sr-only">Toggle navigation</span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				      </button>
						<div class="navbar-brand">Humming Bird</div>
					</div>
					<div class="collapse navbar-collapse" id="mobile-nav">
				      <ul class="nav navbar-nav">
						<li><a href="../search">Search</a></li>
						<li><a href="../report">Report</a></li>
						<li class="active"><a href="../pay-slip">Upload payslip</a></li>
				      </ul>
				      <ul class="nav navbar-nav navbar-right" id="userBar"></ul>
			      </div>
				</div>
			</nav>

			<div class="row">
				<div class="col-md-12">
					<h2 style="text-align: center">จ่ายเงินค่าเช่า ค้างชำระ</h2>
					<div class="none-item">ไม่มียอดค้างชำระ</div>
				</div>
			</div>
			<div id="unpaidList"></div>
		</div>

		<div class="modal fade" id="loginModal" role="dialog" data-backdrop="static" >
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h3 class="modal-title"><span class="glyphicon glyphicon-lock"></span> LOGIN</h3>
					</div>
					<div class="modal-body" id="loginBody">
						<div class="row" style="margin: 3em 0;">
							<div class="col-md-12 text-center">
								<button class="loginBtn loginBtn--facebook" onclick='window.open("/svc/login/facebooklogin", "_self");'>
									Login with Facebook
								</button>
							</div>
							<div class="col-md-12 text-center">
								<button class="loginBtn loginBtn--google" onclick='window.open("/svc/login/googlelogin", "_self");'>
									Login with Google
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script type="text/javascript">
			$(document).ready(function() {
				var status = true;
				var x = document.cookie;
				var show = "";

				if (x) {
					x = parseJwt(x);
					show = `
					<li class="visible-lg">
						<img src="${x.photo}" style="width: 30px; margin-top: 10px; margin-right: -0.8em;"></img>
					</li>
					<li class="visible-lg" style="border-right: 2px solid #d9d9d9;">
						<a>${x.name}</a>
					</li>
					<li>
						<a href="#" onclick="clearCookie()"><span class="glyphicon glyphicon-log-out"></span> LOGOUT</a>
					</li>
					`;
				}
				else {
					status = false;
					$(".container").html("");
					$("#loginModal").modal("show");
					show = `<li><a href=#><span class="glyphicon glyphicon-lock"></span> LOGIN </a></li>`;
				}
				$("#userBar").html(show);

				if (status) {
					init();
				}
			});

			function init() {
				$.ajax({
					url: "../svc/pay/tx/lists",
					type: "POST",
					dataType: "JSON",
					success: function (data) {
						if (data.length === 0) {
							$(".none-item").css("display","block");
						}
						var show = "";
						$.each(data, function(i, item) {
							show += `
							<div class="col-md-4">
								<div class="card">
									<img src="https://cdn.home-designing.com/wp-content/uploads/2010/10/living-room-artificial-light-by-ferdaviola.jpg" style="width:100%">
									<div class="container">
										<h4><b>${item.Name}</b></h4>
										<p>ราคา ${item.Price} บาท/เดือน</p>
									</div>
									<span class="btn btn-primary btn-file btn-block">
										Upload <input type="file"  onchange="uploadSlip('${item.TxID}')">
									</span>
								</div>
							</div>
							`;
						});
						$("#unpaidList").html(show);
					}
				}).done(function() {
				});
			}

			function clearCookie() {
				var cookies = document.cookie.split(";");

				for (var i = 0; i < cookies.length; i++) {
					var cookie = cookies[i];
					var eqPos = cookie.indexOf("=");
					var name = eqPos > -1 ? cookie.substr(0, eqPos) : cookie;
					document.cookie = name + "=;expires=Thu, 01 Jan 1970 00:00:00 GMT";
				}
				window.open("search", "_self");
			}

			function parseJwt(token) {
				var base64Url = token.split('.')[1];
				var base64 = base64Url.replace('-', '+').replace('_', '/');
				return JSON.parse(window.atob(base64));
			};

			function uploadSlip(id) {
				$.ajax({
					url: "../svc/pay/tx/upload",
					type: "POST",
					data: {
						img: "image_base64", 
						txID: id
					},
					dataType: "JSON",
					success: function (data) {

					}
				}).done(function() {
					init();
				});
			}
		</script>
	</body>
</html>
