<!DOCTYPE html>
<html>
	<head>
		<title>Booking</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="slick/slick.css">
		<link rel="stylesheet" href="slick/slick-theme.css">
		<link rel="stylesheet" href="stylesheets/style.css">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	  	<script src="slick/slick.min.js"></script>			
	</head>
	<body>
		<style type="text/css">
			body {
				padding-top: 70px;
			}
			.room-row {
				margin: 1em;
			}
			.room-title {
				font-size: 18px;
			}
			.room-detail {
				font-size: 16px;
			}
			.label-confirm {
				font-size: 18px;
				margin: 10px;
			}

			* {
				box-sizing: border-box;
			}

			.slider {
				width: 70%;
				margin: 2em;
			}

			.slick-slide {
				margin: 0px 10px;
			}

			.slick-slide img {
				height: 80px;
				width: 100%;
			}
			@media (min-width:500px){ 
				.slick-slide img{ 
					height: 250px; 
					width: 100%;
				}
			}

			.slick-prev:before,
			.slick-next:before {
				color: black;
			}

			img { cursor: pointer; }			  
		</style>
		<div class="container">
			<nav class="navbar navbar-default navbar-fixed-top">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mobile-nav" aria-expanded="false">
				        <span class="sr-only">Toggle navigation</span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				      </button>
						<div class="navbar-brand">Humming Bird</div>
					</div>
					<div class="collapse navbar-collapse" id="mobile-nav">
				      <ul class="nav navbar-nav">
						<li class="active"><a href="../search">Search</a></li>
						<li><a href="../report">Report</a></li>
						<li><a href="../pay-slip">Upload payslip</a></li>
				      </ul>
				      <ul class="nav navbar-nav navbar-right" id="userBar"></ul>
			      </div>
				</div>
			</nav>

			<div class="row">
				<div class="col-md-12">
					<h2 style="text-align: center">รายละเอียดห้อง</h2>
				</div>
			</div>
			<div class="row room-row">
				<label class="room-title col-md-2">ชื่อ : </label>
				<label class="room-detail col-md-10"><div id="roomName"></div></label>
			</div>
			<div class="row room-row">
				<label class="room-title col-md-2">ที่อยู่ : </label>
				<label class="room-detail col-md-10"><div id="roomAddress"></div></label>
			</div>
			<div class="row room-row">
				<label class="room-title col-md-2">ขนาดห้อง : </label>
				<label class="room-detail col-md-10"><div id="roomSize"></div></label>
			</div>
			<div class="row room-row">
				<label class="room-title col-md-2">ค่าเช่า : </label>
				<label class="room-detail col-md-10"><div id="roomPrice"></div></label>
			</div>
			<div class="row room-row">
				<label class="room-title col-md-2">มัดจำ : </label>
				<label class="room-detail col-md-10"><div id="roomDeposit"></div></label>
			</div>
			<div class="row room-row">
				<label class="room-title col-md-2">เบอร์ติดต่อ : </label>
				<label class="room-detail col-md-10"><div id="roomTel"></div></label>
			</div>
			<hr>
			<h2>รูปห้อง</h2>
			<div class="row">
				<section class="center slider" id="imgSlider"></section>
			</div>
			<hr>
			<div class="row" style="margin-bottom: 1em;">
				<div class="col-md-4"></div>
				<div class="col-md-2">
					<button class="btn btn-primary btn-block" onclick="reserveRoom()">จองห้อง</button>
				</div>
				<div class="col-md-2">
					<button class="btn btn-default btn-block" onclick="cancelRoom()">กลับ</button>
				</div>
				<div class="col-md-4"></div>
			</div>
		</div>

		<!-- Modal -->
		<div class="modal fade" id="showImg" role="dialog">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-body" id="pathImg"></div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="confirmBook" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h2 class="modal-title" id="myModalLabel">ยืนยันการจอง</h2>
					</div>
					<div class="modal-body">
						<div class="label-confirm" id="confirmName"></div>
						<div class="label-confirm" id="confirmPrice"></div>
						<div class="label-confirm" id="confirmDeposit"></div>
						<div class="label-confirm" id="confirmSize"></div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" onclick="confirmRoom()">ตกลง</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">ยกเลิก</button>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="loginModal" role="dialog" data-backdrop="static" >
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h3 class="modal-title"><span class="glyphicon glyphicon-lock"></span> LOGIN</h3>
					</div>
					<div class="modal-body" id="loginBody">
						<div class="row" style="margin: 3em 0;">
							<div class="col-md-12 text-center">
								<button class="loginBtn loginBtn--facebook" onclick='window.open("/svc/login/facebooklogin", "_self");'>
									Login with Facebook
								</button>
							</div>
							<div class="col-md-12 text-center">
								<button class="loginBtn loginBtn--google" onclick='window.open("/svc/login/googlelogin", "_self");'>
									Login with Google
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<script type="text/javascript">
			var _ID;

			$(document).ready(function() {
				_ID = getUrlParameter("id");
				var status = true;
				var x = document.cookie;
				var show = "";

				if (x) {
					x = parseJwt(x);
					show = `
					<li class="hidden-xs">
						<img src="${x.photo}" style="width: 30px; margin-top: 10px; margin-right: -0.8em;"></img>
					</li>
					<li class="hidden-xs" style="border-right: 2px solid #d9d9d9;">
						<a>${x.name}</a>
					</li>
					<li>
						<a href="#" onclick="clearCookie()"><span class="glyphicon glyphicon-log-out"></span> LOGOUT</a>
					</li>
					`;
				}
				else {
					status = false;
					$(".container").html("");
					$("#loginModal").modal("show");
					show = `<li><a href=#><span class="glyphicon glyphicon-lock"></span> LOGIN </a></li>`;
				}
				$("#userBar").html(show);

				if (status) {
					init();
				}
			});

			function clearCookie() {
				var cookies = document.cookie.split(";");

				for (var i = 0; i < cookies.length; i++) {
					var cookie = cookies[i];
					var eqPos = cookie.indexOf("=");
					var name = eqPos > -1 ? cookie.substr(0, eqPos) : cookie;
					document.cookie = name + "=;expires=Thu, 01 Jan 1970 00:00:00 GMT";
				}
				window.open("search", "_self");
			}

			function getUrlParameter(name) {
				name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
				var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
				var results = regex.exec(location.search);
				return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
			};

			function init() {
				$.ajax({
					url: window.location.protocol + "//" + window.location.hostname + "/svc/catalog/get/",
					type: "POST",
					data: {
						HID: _ID
					},
					dataType: "JSON",
					success: function (data) {
						$("#roomName").html(data.Name);
						$("#roomAddress").html(data.Addr);
						$("#roomSize").html(data.Size + " ตรม.");
						$("#roomPrice").html(data.Price + " บาท/เดือน");
						$("#roomDeposit").html(data.Deposit + " เดือน");
						$("#roomTel").html(data.Tel);

						$("#confirmName").html(data.Name);
						$("#confirmPrice").html("ค่าเช่า " + data.Price + " บาท/เดือน");
						$("#confirmDeposit").html("มัดจำ " + data.Deposit + " เดือน");
						$("#confirmSize").html("ขนาดห้อง " + data.Size + " ตรม.");

						var show = ""
						$.each(data.images, function(i, image) {
							show += `
							<div>
								 <img src="${image.ImageUrl}" onclick="showFullSize('${image.ImageUrl}')">
							</div>
							`;
						});
						$("#imgSlider").html(show);
					}
				}).done(function() {
					setupSlider();
				});
			}

			function parseJwt(token) {
				var base64Url = token.split('.')[1];
				var base64 = base64Url.replace('-', '+').replace('_', '/');
				return JSON.parse(window.atob(base64));
			};

			function reserveRoom() {
				$("#confirmBook").modal("show");
			}

			function cancelRoom() {
				window.open("search", "_self");
			}

			function confirmRoom() {
				$.ajax({
					url: window.location.protocol + "//" + window.location.hostname + "/svc/catalog/Booking/",
					type: "POST",
					data: {
						HID: _ID
					},
					dataType: "JSON",
					success: function (data) {
						data = data.success;
						if (data) {
							window.open("search", "_self");
						} 
						else {

						}
					}
				}).done(function() {

				});
			}

			function showFullSize(url) {
				var show = `<img class="img-responsive" width="100%" src="${url}">`;
				$("#pathImg").html(show);
				$("#showImg").modal("show");	
			}

			function setupSlider() {
				$(".center").slick({
					dots: true,
					infinite: false,
					centerMode: false,
					slidesToShow: 3,
					slidesToScroll: 1
				});
			}
		</script>
	</body>
</html>
