<!DOCTYPE html>
<html>

<head>
   <title>Booking</title>
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<style type="text/css">
   body {
      padding-top: 70px;
   }

   .room-row {
      margin: 1em;
   }

   .room-title {
      font-size: 18px;
   }

   .room-detail {
      font-size: 16px;
   }
   /* override position and transform in 3.3.x */

   .carousel-inner .item.left.active {
      transform: translateX(-33%);
   }

   .carousel-inner .item.right.active {
      transform: translateX(33%);
   }

   .carousel-inner .item.next {
      transform: translateX(33%)
   }

   .carousel-inner .item.prev {
      transform: translateX(-33%)
   }

   .carousel-inner .item.right,
   .carousel-inner .item.left {
      transform: translateX(0);
   }

   .carousel-control.left,
   .carousel-control.right {
      background-image: none;
   }
</style>

<body>
   <div class="container">
      <nav class="navbar navbar-default navbar-fixed-top">
         <div class="container-fluid">
            <div class="navbar-header">
               <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mobile-nav" aria-expanded="false">
				        <span class="sr-only">Toggle navigation</span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				      </button>
               <div class="navbar-brand">Humming Bird</div>
            </div>
            <div class="collapse navbar-collapse" id="mobile-nav">
               <ul class="nav navbar-nav">
                  <li class="active"><a href="#">Booking</a></li>
                  <li><a href="#">Report</a></li>
                  <li><a href="#">Upload payslip</a></li>
               </ul>
               <ul class="nav navbar-nav navbar-right">
                  <li><a href="#">Logout</a></li>
               </ul>
            </div>
         </div>
      </nav>

      <div class="row">
         <div class="col-md-12">
            <h2 style="text-align: center">รายละเอียดห้อง</h2>
         </div>
      </div>
      <div class="row room-row">
         <label class="room-title col-md-2">ชื่อ : </label>
         <label class="room-detail col-md-10">บ้าป้าแย้ม</label>
      </div>
      <div class="row room-row" ">
				<label class="room-title col-md-2 ">ที่อยู่ : </label>
				<label class="room-detail col-md-10 ">124/123 ซ.สุขสะอาด ถ.คอนกรีต จ.กรุงเทพ 10120</label>
			</div>
			<div class="row room-row "">
         <label class="room-title col-md-2">ขนาดห้อง : </label>
         <label class="room-detail col-md-10">3.5 x 7.00 ตรม.</label>
      </div>
      <div class="row room-row" ">
				<label class="room-title col-md-2 ">ราคา : </label>
				<label class="room-detail col-md-10 ">3,000 บาท / เดือน</label>
			</div>
			<div class="row room-row "">
         <label class="room-title col-md-2">มัดจำ : </label>
         <label class="room-detail col-md-10">3 เดือน</label>
      </div>
      <div class="row room-row" ">
				<label class="room-title col-md-2 ">เบอร์ติดต่อ : </label>
				<label class="room-detail col-md-10 ">082XXXXXXX</label>
			</div>
			<hr>
			<h2>รูปห้อง</h2>
			<div class="row ">
				<div class="carousel slide " id="myCarousel ">
					<div class="carousel-inner ">
						<div class="item active ">
							<div class="col-md-4 ">
								<img class="img-responsive " src="https://www.w3schools.com/w3images/nature.jpg ">
							</div>
						</div>
						<div class="item ">
							<div class="col-md-4 ">
								<img class="img-responsive " src="https://www.w3schools.com/w3images/fjords.jpg ">
							</div>
						</div>
						<div class="item ">
							<div class="col-md-4 ">
								<img class="img-responsive " src="https://www.w3schools.com/w3images/lights.jpg ">
							</div>
						</div>
					</div>
					<a class="left carousel-control " href="#myCarousel " data-slide="prev "><i class="glyphicon glyphicon-chevron-left "></i></a>
					<a class="right carousel-control " href="#myCarousel " data-slide="next "><i class="glyphicon glyphicon-chevron-right "></i></a>
					</div>
			</div>
			<hr>
			<div class="row ">
				<div class="col-md-4 "></div>
				<div class="col-md-2 ">
					<button class="btn btn-primary btn-block ">จองห้อง</button>
				</div>
				<div class="col-md-2 ">
					<button class="btn btn-default btn-block ">กลับ</button>
				</div>
				<div class="col-md-4 "></div>
		</div>

      <script type="text/javascript">
         $(document).ready(function() {
            $.ajax ({
               type: "POST",
               url: "http://hackaton2017.gisc.cdg.co.th/svc/report/genreport",
               success: function (data) {
                  console.log(data);
               }
            }).done(function() {
               console.log("done");
            });
         });

         $('#myCarousel').carousel({
         interval: 10000
         })

         $('.carousel .item').each(function(){
            var next = $(this).next();
            if (!next.length) {
               next = $(this).siblings(':first');
            }
            next.children(':first-child').clone().appendTo($(this));

            if (next.next().length>0) {
               next.next().children(':first-child').clone().appendTo($(this));
            }
            else {
               $(this).siblings(':first').children(':first-child').clone().appendTo($(this));
            }
         });
      </script>
	</body>
</html>