<!DOCTYPE html>
<html>
	<head>
		<title>Report</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="stylesheets/style.css">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="https://code.highcharts.com/highcharts.js"></script>
		<script src="https://code.highcharts.com/modules/drilldown.js"></script>
	</head>
	<style type="text/css">
		body {
			padding-top: 70px;
		}

	</style>
	<body>
		<div class="container">
			<nav class="navbar navbar-default navbar-fixed-top">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mobile-nav" aria-expanded="false">
				        <span class="sr-only">Toggle navigation</span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				      </button>
						<div class="navbar-brand">Humming Bird</div>
					</div>
					<div class="collapse navbar-collapse" id="mobile-nav">
				      <ul class="nav navbar-nav">
						<li><a href="../search">Search</a></li>
						<li class="active"><a href="../report">Report</a></li>
						<li><a href="../pay-slip">Upload payslip</a></li>
				      </ul>
				      <ul class="nav navbar-nav navbar-right" id="userBar"></ul>
			      </div>
				</div>
			</nav>

			<div class="row">
				<h2 style="text-align: center">รายงานแสดงรายจ่ายทั้งหมด</h2>
				<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
			</div>
			</div>
		</div>

		<div class="modal fade" id="loginModal" role="dialog" data-backdrop="static" >
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h3 class="modal-title"><span class="glyphicon glyphicon-lock"></span> LOGIN</h3>
					</div>
					<div class="modal-body" id="loginBody">
						<div class="row" style="margin: 3em 0;">
							<div class="col-md-12 text-center">
								<button class="loginBtn loginBtn--facebook" onclick='window.open("/svc/login/facebooklogin", "_self");'>
									Login with Facebook
								</button>
							</div>
							<div class="col-md-12 text-center">
								<button class="loginBtn loginBtn--google" onclick='window.open("/svc/login/googlelogin", "_self");'>
									Login with Google
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script type="text/javascript">
			var _MONTHS = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];

			var _DATA = [
			{
				month: 3,
				total: 1111,
				data: [
					['Room A', 2000],
					['Room B', 2000],
					['Room C', 2000],
					['Room D', 2000],
					['Room E', 2000]
				]
			},
			{
				month: 1,
				total: 5678,
				data: [
					['Room A', 2000],
					['Room D', 2000],
					['Room E', 2000]
				]
			}];
			$( document ).ready(function() {
				var status = true;
				var x = document.cookie;
				var show = "";

				if (x) {
					x = parseJwt(x);
					show = `
					<li class="visible-lg">
						<img src="${x.photo}" style="width: 30px; margin-top: 10px; margin-right: -0.8em;"></img>
					</li>
					<li class="visible-lg" style="border-right: 2px solid #d9d9d9;">
						<a>${x.name}</a>
					</li>
					<li onclick="clearCookie()">
						<a href=#><span class="glyphicon glyphicon-log-out"></span> LOGOUT</a>
					</li>
					`;
				}
				else {
					status = false;
					$(".container").html("");
					$("#loginModal").modal("show");
					show = `<li><a href=#><span class="glyphicon glyphicon-lock"></span> LOGIN </a></li>`;
				}
				$("#userBar").html(show);

				if (status) {
					init();
				}
			});

			function clearCookie() {
				var cookies = document.cookie.split(";");

				for (var i = 0; i < cookies.length; i++) {
					var cookie = cookies[i];
					var eqPos = cookie.indexOf("=");
					var name = eqPos > -1 ? cookie.substr(0, eqPos) : cookie;
					document.cookie = name + "=;expires=Thu, 01 Jan 1970 00:00:00 GMT";
				}
				window.open("search", "_self");
			}
			
			function init() {
				var Monthly = [], Room = [];
				// for (var i=1; i<=12; i++) {
				// 	var total = 0;
				// 	var data = [];

				// 	$.each (_DATA, function(e, item) {
				// 		if (item.month == i) {
				// 			total = item.total
				// 			data = item.data;
				// 		}
				// 	})

				// 	Monthly.push({
				// 		name: _MONTHS[i-1],
				// 		y: total,
				// 		drilldown: _MONTHS[i-1]
				// 	});

				// 	Room.push({
				// 		id: _MONTHS[i-1],
				// 		data: data
				// 	});
				// }

				$.ajax({
					url: "../svc/report/genreport",
					type: "POST",
					data: {
						year: 2017
					},
					dataType: "JSON",
					success: function (data) {
						$.each(data, function(i, json) {
							Monthly.push({name: _MONTHS[json.month-1], y: json.total, drilldown: _MONTHS[json.month-1]});
							Room.push({id: _MONTHS[json.month-1], data: json.data});
						})
						drawChart(Monthly, Room);
					}
				}).done(function() {
					
				});
			}

			function parseJwt(token) {
				var base64Url = token.split('.')[1];
				var base64 = base64Url.replace('-', '+').replace('_', '/');
				return JSON.parse(window.atob(base64));
			};

			function drawChart(monthly, room) {
				Highcharts.chart('container', {
					chart: {
						type: 'column'
					},
					title: {
						text: ''
					},
					xAxis: {
						type: 'category'
					},
					yAxis: {
					title: {
						text: 'Price'
					}
				},
					legend: {
						enabled: false
					},

					plotOptions: {
						series: {
							borderWidth: 0,
							dataLabels: {
								enabled: false
							}
						}
					},

					series: [{
						name: 'Total',
						colorByPoint: true,
						data: monthly
					}],
					drilldown: {
						series: room
					}
				});
			}
		</script>
	</body>
</html>
